@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   Author's custom styles  #3474A4
  ==========================================================================
*/

body {
	background-color: #6CF  ;
	background-image: url(../img/halo.png), url(../img/bg.jpg);
	background-repeat: no-repeat, repeat-x;
	background-attachment:fixed;
	background-position: center 100px , 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.guardar {
	height: 64px;
	width: 64px;
	background-image: url(../images/form/guardar.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 8px;
	color: #FFF;
	vertical-align: bottom;
}

.salir {
	height: 64px;
	width: 64px;
	background-image: url(../images/form/salir.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 8px;
	color: #FFF;
	vertical-align: bottom;
}














